*{
	box-sizing:border-box;
	margin: 0;padding: 0;
	font-family: 'Open Sans', sans-serif;}


/* Classes Auxiliare */
.clear {clear: both;}

.container{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 2%;

}

.center{text-align: center;}
.w100{
    width: 100%;
    float: left;
}

.w60{
    width: 60%;
    float: left;
}
.w50{
    width: 50%;
    float: left;
}

.w40{
    float: left;
    width: 40%;
}

.w33{
    width: 33.3%;
    float: left;
}

/* Estilos do meu site */

/* header */
header{
	padding: 8px 0;
}

.logo{
	float: left;
}

.logo a{
    text-decoration: none;
    color: black;
}

.logo h2{
	font-weight: normal;
	font-size: 24px;
}


nav.menu-mobile{
    display: none;
	float: right;
}

nav.menu-mobile h2{
    cursor: pointer;
}
nav.menu-mobile ul{
    display: none;
    width: 100%;
    background: white;
    position: absolute;
    left: 0;
    top: 50px;
    z-index: 999;
    text-align: center; 
}

nav.menu-mobile li{
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
}

nav.menu-mobile li.selected{
    background: rgb(225,225,225);
}

nav.menu-mobile a{
    display: block;
    color: black;
    text-decoration: none;
}

nav.menu-desktop{
	float: right;
}

nav.menu-desktop li.selected{
	font-weight: normal;
    text-decoration: underline;
}

nav.menu-desktop ul{
	position: relative;
	top:8px;
}

nav.menu-desktop li{
	display: inline-block;
	padding: 0 10px;
	font-weight: lighter;
}

nav.menu-desktop a{
	color: black;
	text-decoration: none;
    font-size: 15px;
}

nav.menu-desktop a:hover{text-decoration: underline;}

/* fim header */

/*Section main*/

section.main-bg{
    position: relative;
    text-align: center;
    width: 100%;
    padding: 140px 0;
    background-image: url('../images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.main-bg > .container {
    position: relative;
    z-index: 2;
}
.overlay{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    left: 0;
    top: 0;
}

section.main-bg h2{
    font-size: 30px;
    font-weight: normal;
    color: #52aaa7;
    margin-bottom: 10px;
}

section.main-bg p{
    color: white;
    text-align: left;
    margin-top: 15px;
}

/* fim Section main*/

/*Section Diferenciais*/

section.diferenciais{
    padding: 30px 0;
    text-align: center;
}

.line-text{
    position: relative;
    display: inline-block;
}

.line-text div{
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 3px;
    background: #52aaa7;
}

.line-text h2{
    color: #52aaa7;
    font-weight: normal;
    font-size: 27px;
}

.icones-diferenciais{
    margin-top: 35px;
}

.box-icone-single{
    float: left;
    width: 33.3%;
    margin-bottom: 20px;
    padding: 0 10px;
}

.box-icone-single h2{
    color: #8a6b62;
    font-size: 40px
}

/* Fim Section Diferenciais*/

/*Section Sobre*/

section.sobre{
    padding: 30px 0;
    background: rgb(225,225,225);
    
}

section.sobre > .container {
    display: flex;
    flex-wrap: wrap;
}

.equipe-container{
    width: 50%;
}

.sobre-container{
   width: 50%; 
}

.sobre-container p{
    color: black;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 10px;
}

.avatar-box{
    margin-top: 15px;
}

.img-avatar{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: 100% 100%;
}

.descr-avatar{
    width: calc(100% - 70px);
    display: inline-block;
    padding: 0 10px;
}

.descr-avatar h3{
   color: rgb(30,30,30);
   font-weight: normal;
   font-style: italic;
    
}

.descr-avatar p{
   color: rgb(30,30,30);
   font-weight: lighter;
   font-style: normal;
    
}

/* Fim Section sobre */

/* Section inscriçao */

section.inscricao{
    padding: 20px 0;
    background-color: #52aaa7;
}

.inscricao-texto{
    color: white;
    font-weight: normal;
}

.inscricao-form input[type=text]{
    width: calc(100% - 120px);
    height: 40px;
    background: white;
    border: 1px solid #ccc;
    display: inline-block;
}

.inscricao-form input[type=submit]{
    width: 120px;
    height: 40px;
    background-color: #1d6c64; 
    cursor: pointer;
    display: inline-block;
    border: 0;
}

/* Fim Section inscriçao */


/* Section Cards */

section.cards{
    padding: 30px 0;
}

.card-single{
    width: 33.3%;
    float: left;
    padding: 0 50px;
}

.card-single img{
    width: 100%;
    
}

.card-single h3{
    margin-top: 5px;
    font-weight: normal;
    font-size: 19px;
}

.card-single p{
    margin-bottom: 10px 0;
    font-weight: lighter;
    border-bottom: 2px solid #ccc;
    padding-bottom: 20px;
    font-size: 16px;
}

/* Footer  */

footer.footer1{
/*    background: #1d6c64;*/
    background: #52aaa7;
    color: white;
    padding: 20px 0;
}

footer.footer1 h2{
    font-weight: normal;
    font-size: 23px;
}

footer.footer1 p{
    margin-top: 8px;
    font-weight: lighter;
}

footer.footer1 a{
    display: block;
    color: white
}

div.group-icon a{
    font-size: 18px;
    display: inline-block;
    margin: 15px 10px;
}

footer.footer2{
    text-align: center;
    color: white;
    background: #1d6c64;
    padding: 20px 0;
}

/* PAGINA 2 SOBRE */

/* TITLE-PAGE */
section.title-page{
    padding: 30px;
    width: 100%;
    min-height: 150px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.overlay__title-page{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(0,0,0,0.4);
}

section.title-page .container{
    position: relative;
    z-index: 101;
}

section.title-page h2{
    color: #44d4c5;
    font-size: 35px;
    font-weight: normal;
}

section.title-page p{
    color: white;
    font-weight: lighter;
    font-size: 16px;
    margin-top: 15px;
}
/* FIM TITLE-PAGE */

/* NOTICIA*/

section.sobre__noticia {
    padding: 30px 0;
}
section.sobre__noticia img{
    max-width: 100%;
    min-height: 350px;
    padding: 10px;
}

section.sobre__noticia p{
    padding: 15px;
    font-size: 16px;
    font-weight: lighter;
}
/* FIM NOTICIA*/

/* PARALAX*/
section.sobre__paralax{
    padding: 30px 0;
    width: 100%;
    height: 300px;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

section.sobre__paralax h2{
    color: #44d4c5;
    border: 1px solid #44d4c5;
    padding: 5px 25px;
    font-size: 18px;
    display: inline-block;
}
/* FIM PARALAX*/

/* EQUIPE*/
    
section.sobre__equipe{
    padding: 40px;
}

.equipe-circles{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.equipe-circle-single{
    padding: 0 20px;
}

.equipe-circle-single h3{
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}

.equipe-circle-single p{
    font-weight: lighter;
    margin-top: 10px;
}

.avatar-single{
    position: relative;
    width: 60%;
    padding-top: 60%;
    margin: 0 auto;
}

.avatar-single-container{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    background-size: 100% 100%;
    
}

/* FIM EQUIPE*/

/* Final*/

section.sobre__final{
    background-color: rgb(225,225,225);
    border-top: 2px solid rgb(210,210,210);
    padding: 20px 0;  
}

section.sobre__final p{
    font-size: 16px;
    margin-top: 10px;
    font-weight: lighter;
    
}

.card-text{
    position: relative;
    width: 80%;
    margin-top: 10px;
}
.card-text h3{
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 20px;
    font-weight: normal;
}

.card-text img{
    max-width: 100%;
}

/* FIM PAGINA 2 SOBRE */

/* PAGINA 3 CONTATO */ 

section.contato {
    padding: 30px 0;
    min-height: 600px;
}

section.contato .w50,
section.contato .w100{
    padding: 0 10px;
}

.formulario form{
    margin-top: 10px;
}

.formulario h2{
    background: #DDDDDD;
    color: #ACAC9d;
    font-size: 15px;
    padding: 6px 0;
    text-align: center;
    font-weight: normal;
    border-left: 5px solid #ccc;
}

.formulario input[type=text],
.formulario input[type=email]{
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding-left: 8px;
}

.formulario textarea{
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px;
    resize: vertical;
}

.tags-form{
    padding-left: 50px;
}

.tags-form h2{
    font-weight: normal;
    font-size: 20px;
}

.tags-form p{
    margin-top: 10px;
    font-weight: lighter;
}

.tags-form p.tag-contato{
    color: white;
    background: #249b8f;
    text-align: center;
    padding: 6px 2px;
    border-radius: 4px;
}

/* FIM PAGINA 3 CONTATO */

@media screen and (max-width: 1280px){
    section.contato{
        min-height: 0px;
}

@media screen and (max-width: 768px){
    
    .tags-form{padding-left: 0;}
    .formulario input[type=text],
    .formulario input[type=email]{
  
        margin-bottom: 0;
    
    }

    .formulario textarea{
    
        margin-bottom: 0;

    }
    .w33,.w40,.w50,.w60,.w100{
        width: 100%;
        margin-bottom: 20px;
    }
    
    nav.menu-mobile{
        display: block;
    }
    
    nav.menu-desktop{
        display: none;
    }
    
    .box-icone-single{
        width: 100%;
    }
    
    .equipe-container{
        width: 100%;
    }
    
    .sobre-container{
        width: 100%;
        margin-top: 60px;
    }
    
    .card-single{
        width: 100%;
    }
    
    .equipe-circle-single{
        margin-bottom: 15px;
    }
    
    .card-text{
        width: 100%;
}

}

@media screen and (max-width: 500px){
    .card-single{
        padding: 10px;
    }
}


